/* 
:root{
 scroll-behavior: auto;
} */

.navbar{
    position:fixed;
    width:100%;
    z-index:5;
}

.navbar-brand{
    font-size:20px;
    transition:all 1s;
}
.list-group{
    display:none;
}

.show{
    display:block;
}
/* modal */
.black-bg{
    width:100%;
    height:100%;
    position:fixed;
    background:rgba(0,0,0,0.5);
    z-index:6;
    padding:30px;
    visibility: hidden;
    opacity:0;
    transition:all 1s;
    pointer-events: none;
}

.show-modal{
    visibility: visible;
    opacity:1;
    pointer-events: auto;
} 

.white-bg{
    background:white;
    border-radius:5px;
    padding:30px;
}

.taejoe{
    padding-top:5rem;
    padding-bottom:3rem;
}

.main-bg{
    padding:100px 20px;
    background-color: lightgrey;
}

/* 캐러셀 */

.slide-container{
    width:300vw;
    /* margin-left:-200vw; */
    transition:all 1s;
    /* transform: translateX(-100vw); margin보다 부드러움*/
}
.slide-box{
    width:100vw;
    float:left;
}
.slide-box img{
    width:100%;
} 



